/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400&display=swap"); */

/* @font-face {
  font-family: "GoogleSansRegular";
  src: local("GoogleSansRegular"),
   url("./assets/fonts/GoogleSans-Regular-v1.27.ttf") format("truetype");
  font-weight: bold;
 } */

/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */

/* * {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
} */
